/* PÃGINAS DE PRODUCTOS */

main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 1rem;
    margin-top: 1.5rem;
}

aside {
    background-color: whitesmoke;
    display: flex;
    align-items: left;
    justify-content: left;
    flex-direction: column;
}

aside * {
    font-size: 2rem;
}

aside > fieldset > ul > li {
    list-style: none;
}

#productos {
    background-color: whitesmoke;
    display: flex;
    justify-content: right;
    align-items: right;
    flex-direction: column;
    max-width: 160rem;
}

img {
    border: 0.2rem solid black;
    height: auto;
    width: 250px;
}